resources:
- ../../../base/frontend

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
    - op: replace
      path: /metadata/labels/environment
      value: production
  target:
    kind: Deployment
    name: frontend-service

images:
- name: ${{secrets.ECR}}
  newTag: "v1.0"

