resources:
- ../../../base/frontend

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
    - op: replace
      path: /metadata/labels/environment
      value: production
  target:
    kind: Deployment
    name: frontend-service

images:
- name: 123456789012.dkr.ecr.us-east-1.amazonaws.com/my-backend-repo
  newTag: "v1.0"

